.hero{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(rgba(8,0,58,0.5),rgba(8,0,58,0.7)), url("../../assets/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}
.btn{
   background: #076e83 !important;
    color: #fff !important;
    padding: 14px 25px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#right-btn{
    margin-left: 20px;
   background: #0ca76e !important;
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-para{
    margin-top: 12px auto 20px;
    max-width: 700px;
    font-size: 18px;
    line-height: 1.7;
}
/* media query */
@media(max-width:850px){
    .hero-text h1{
        font-size: 40px;
    }

    .btn{
        width: 80px !important; 
        height: 34px !important;
        font-size: 11px !important; 
        align-items: center !;
        justify-content: center !important;
    }

    .arrow{
        display: none !important;
    }

}
@media(max-width:650px){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
    }
   .left-ballon p {
    /* display: none; */
    font-size: 14px !important;
   }
  .left-ballon span{
 padding-top: 12px !important;
    font-size: 16px !important;
   }
   .right-ballon p{
    font-size: 14px !important;
   }
   .right-ballon span{
    padding-top: 12px !important;
    font-size: 16px !important;
   }
    .hero-text p{
        font-size: 15px;
        max-width: 350px;
    }
}