nav {
    width: 100vw; /* Use 100vw for full viewport width */
    color: #fff; 
    padding: 10px 0;
    position: fixed;
    top: 0; /* Fixed at the top */
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #076e83;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

nav ul {
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
    align-items: center;
    display: flex; /* Align items in a row */
}

nav ul li {
    list-style: none;
    margin: 0 20px; /* Spacing between items */
    position: relative;
    font-size: 16px;
    cursor: pointer;
}

.toggleMenu {
    display: none; /* Default hidden, show on mobile */
}

/* Responsive styles */
@media(max-width: 600px) {
    nav ul {
        position: fixed; 
        top: 0;
        background: #076e83;
        width: 100%; /* Full width in mobile */
        padding-top: 70px; /* Space for logo */
        height: 50%;
        right: 0;
        text-align: center;
        border-radius: 0 0 10px 12%;
        transition: transform 0.5s;
        transform: translateX(100%); /* Start off-screen */
    }
    
    .hide-mobile-menu {
        transform: translateX(100%); /* Hide from view */
    }

    .toggleMenu {
        display: flex; /* Show toggle button */
    }
}