.testimonail{
    margin: 80px auto;
    padding: 0 80px;
    position: relative;
}
.next-btn, .back-btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px ;
    border-radius: 50%;
    outline: 0;
    background: #076e83;
    color: #fff;
    width: 40px;
}
.back-btn{
    right: auto;
left: 0;
}
.slider{
   display: block;
}
.slider-fisrt{
    display: flex;
}
.slider-second{
    display: flex;
}
.slider ul li{
    width: 50%;
    list-style: none;
    padding: 20px;
}
.slide{
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
    position: relative;
}
.slide:hover{
    background: #076e83;
    color: #fff;
    transform: transition(0.5s);
    transform: scale(1.1);
}
.slide img{
    width: 64px;
    border-radius: 50%;
    margin-right: 10px;
     background: #076e83;

}
.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}
.user-info h3
{
    font-weight: 500;
}

.title{
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
.subtitle{
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #076e83;
}
/*  media query */
@media (max-width: 768px){
    
    .slide{
        width: 200%;
    align-items: center;
    }
    .slider-fisrt{
        display: block;
    }
     .user-info{
       width: 100%;
       text-align: center;
       font-size: 15px; 
     }  

    .slider-second{
        display: block;
    }
    .user-info h3
    {
        font-size: 20px;

    }
    .user-info span
    {
        font-size: 15px;
    }
  
}